<a href="/upload" id="upload" class="navLinks">upload</a>
<button type="submit" id="homeButt">MuhWalls</button>


<br>
<nav id="topNav">
  <a href="/" class="navLinks">Top Liked</a>
  <a href="/topbad" class="navLinks">Top Bad</a>
  <a href="/16:9" class="navLinks">16:9 Only</a>
  <a href="/UltraWide" class="navLinks">Ultra Wide Only</a>
  <a href="/1080P" class="navLinks">1080P Only</a>
  <a href="/1440P" class="navLinks">1440P Only</a>
  <a href="/4k" class="navLinks">4K Only</a>

  <div class="Sort By">
    <button onclick="myFunction()" class="dropbtn">Sort By &#9660</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/date" class="navLinks">Oldest~Newest</a>
      <a href="/daterev" class="navLinks">Newest~Oldest</a>
      <a href="/tall" class="navLinks">Tall~Small</a>
      <a href="/small" class="navLinks">small~Tall</a>




    </div>
    <form action="search" id="search" method="post" enctype="multipart/form-data">
      search<input type="text" name="search" id="nameInput" value="" />
      <input type="submit" id="searchButt" value="search" />
    </form>
  </div>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>



</nav>
<div id="pix">
  {{# each fileName}}
  <div class="lazy" id="picBox">

    <a class="lazy"  href={{this.name}}>
      <img class="lazy" data-src={{this.name}} alt={{this.newName}} />
    </a>
    Name: <a class="lazy" href={{this.name}}> {{this.newName}}</a> <br>
    Date Uploaded:{{this.date}}<br>
    Resolution:{{this.width}}x{{this.height}} <br>
    Aspect Ratio : <a class="lazy" href="/img+{{this.aspectRatio}}">{{this.aspectRatio}}</a>

    <div id="likeBox" class="lazy">
      <form>
        <button class="likeButt lazy" id="likeButt" name="like" type="submit" value={{this.name}}>Like</button>
        <div id="yay{{this.name}}" class="yayBox lazy">Likes:{{this.upboats}}</div>
      </form>

        <form class="lazy">
          <button class="dLikeButt button tr_danger lazy" data-color='danger' id="dLikeButt" name="dlike" type="submit" value={{this.name}}>Bad</button>
          <div  id="nay{{this.name}}" class="nayBox lazy">Bads:{{this.downboats}}</div>
        </form>
    </div>
    <ul class="lazy" id="keywords">{{# each this.keywords}}<li class="lazy"><a class="lazy" href="/img+{{this}}">{{this}}</a></li>{{/each}}</ul>


  </div>
  {{/each}}
</div>
<a id="topButt" href='#top'>^</a>  
